.react-calendar {
    width: 100%;
    padding: 40px;
}

.react-calendar__navigation {
    font-size: 28px;
}

.react-calendar__navigation__arrow {
    font-size: 32px;
}

.react-calendar__month-view__weekdays {
    font-size: 26px;
}

.react-calendar__tile {
    font-size: 26px
}

.react-calendar__navigation__label {
    font-size: 26px;
}